<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="PushbulletClientAccessToken" value=""/>
    <!--
        Mapping table from name to reference
    
        KS-1 -> 160sk1
        KS-2A -> 160sk2
        KS-3A -> 160sk3
        KS-3B -> 160sk31
        KS-4A -> 160sk4
        KS-5 -> 160sk5
        KS-2B -> 160sk21
        KS-2C -> 160sk22
        KS-3C -> 160sk32
        KS-4B -> 160sk41
        KS-4C -> 160sk42
        KS-6 -> 160sk6
        E3-SAT-1 -> 143sys4
        E3-SSD-1 -> 143sys13
        E3-SAT-2 -> 143sys1
        E3-SSD-2 -> 143sys10
        E3-SAT-3 -> 143sys2
        E3-SSD-3 -> 143sys11
        E3-SAT-4 -> 143sys3
        E3-SSD-4 -> 143sys12
        E5-SAT-1 -> 160sys2
        E5-SAT-2 -> 160sys3
        SYS-IP-1 -> 142sys4
        SYS-IP-2 -> 142sys5
        SYS-IP-4 -> 142sys8
        SYS-IP-5 -> 142sys6
        SYS-IP-5S -> 142sys10
        SYS-IP-6 -> 142sys7
        SYS-IP-6S -> 142sys9
        BK-8T -> 141bk1
        BK-24T -> 141bk2
        GAME-1 -> 150game1
        GAME-2 -> 150game2
        OP-SAT-1 -> 160sys1
        SP-32 -> 160sp2
        SP-64 -> 160sp1
        SP-64-S -> 153sp1
        SP-128 -> 160sp4
        MG-128 -> 160mg1
        MG-256 -> 160mg4
        HOST-32L -> 160host1
        HOST-64L -> 160host2
        HOST-128L -> 160host3
        HOST-32H -> 160host4
        HOST-64H -> 160host5
        HOST-128H -> 160host6
        MC-32 -> 161mc1
        MC-128 -> 161mc2
        MH-128 -> 160mc3
        ML-256 -> 160mc4
        MH-256 -> 160mc5
        EG-16 -> 160eg4
        EG-32 -> 160eg1
        EG-64 -> 160eg2
        EG-128 -> 160eg3
        FS-12T -> 160fs1
        FS-30T -> 160fs2
        FS-48T -> 160fs3
        FS-72T -> 160fs4
        FS-MAX -> 160fs5
    -->
    <add key="LookedServer" value="160sk1,160sk2"/>
  </appSettings>
</configuration>